.my-form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}

label {
  font-weight: bold;
}

.control-width-1024 {
  width: 1024px !important;
}

.control-width-512 {
  width: 512px !important;
}

.control-width-496 {
  width: 496px !important;
}

.control-width-256 {
  width: 256px !important;
}

.control-message {
  margin-top: .25rem;
  font-size: 80%;
}
